{{#with navigation}}
  <div class='nav'>
    {{#each links}}
      <div class='nav-item'>
        <a href='{{href}}' class='nav-link'>{{text}}</a>
      </div>
    {{/each}}
  </div>
{{/with}}
<div>
  <br />
</div>
<div>
  <nav label='breadcrumb'>
    <ol class='breadcrumb'>
      {{#each breadcrumb}}
        <li class='breadcrumb-item'><a
            href='#'
          >{{name}}</a></li>
      {{/each}}
    </ol>
  </nav>
  <h1>{{header}}</h1>
  <div class='row'>
    {{#each sortBlock}}
      <div class='col-4'>
        <select class='form-select'>
          {{#each options}}
            <option
              value='{{value}}'
              placeholder='{{placeholder}}'
            >{{text}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </div>
</div>
<div>
  <br />
</div>
<div class='row'>
  <div class='col-6'>
    {{#with filterBlock}}
      <div class='card'>
        <div class='card-body'>
          {{#with sellers}}
            {{title}}
            <br />
            <div class='form-check'>
              {{#each list}}
                <input
                  class='form-check-input'
                  type='checkbox'
                />
                <label
                  class='form-check-label'
                >{{value}}</label>
                <br />
              {{/each}}
            </div>
          {{/with}}
          <hr />
          {{#with brands}}
            {{title}}
            <br />
            <br />
            {{#with input}}
              <input
                class='form-control'
                placeholder='{{placeholder}}'
              />
            {{/with}}
            <br />
            <div class='form-check'>
              {{#each options}}
                <input
                  class='form-check-input'
                  type='checkbox'
                />
                <label
                  class='form-check-label'
                >{{value}}</label>
                <br />
              {{/each}}
            </div>
          {{/with}}
          <hr />
          {{#with price}}
            {{title}}
            <br />
            <br />
            {{#with range}}
              <input
                class='form-control'
                placeholder='{{from}}'
              />
              <br />
              <input
                class='form-control'
                placeholder='{{to}}'
              />
            {{/with}}
            <br />
            {{#with button}}
              <button
                class='btn btn-outline-secondary'
              >{{text}}</button>
            {{/with}}
          {{/with}}
          <hr />
          {{#each filterList}}
            {{title}}
            <div class='form-check'>
              {{#each options}}
                <input
                  class='form-check-input'
                  type='checkbox'
                />
                <label
                  class='form-check-label'
                >{{value}}</label>
                <br />
              {{/each}}
            </div>
            <hr />
          {{/each}}
        </div>
      </div>
    {{/with}}
  </div>
  <div>
  <div class='row'>
    {{#each goodsList}}
      {{> catalogItem}}
      <br>
    {{/each}}
  </div>
</div>
<hr>
<div>
  {{#with service}}
    <div class='alert text-bg-success text-center'>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <br />
      {{#each buttons}}
        <a class='btn btn-primary'>{{text}}</a>
        <br />
      {{/each}}
    </div>
  {{/with}}
</div>
<hr>
  <div class='nav'>
      {{#each footer}}
        <ul class="nav-item col-2">
          {{#each this}}
            <li class="nav-link">
              <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{link}}">{{text}}</a>
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </div>